
.redirect__container {
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0px auto;
    margin-top: 30vh;
    width: fit-content;
}