



#teacher__forms__home {
    align-items: center;
    color: white!important;
    justify-content: center;
    margin: 0px auto;
    min-height: 100vh;
    width: 82%;
    z-index: 3;
    // overflow: hidden;

    #teacher__forms__title {
        font-size: 2em;
        position: absolute;
        text-transform: uppercase;
        top: 45%;
    }
}

#teacher__forms__board {
    background-color: $gray;
    color: white;
    height: auto;
    padding-top: 3em;
    padding-bottom: 3em;

    #teacher__forms__board-week {
        background-color: $dark-gray;
        margin: 0px auto;
        text-align: center;
        top: 10em;
        // position: relative;
        width: 80%;

        #teacher__forms__board-padding {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 2em;

            .teacher__forms__board-form-container {
                // border: 1px solid white;
                padding: .5em;
                margin: 1em;

                .teacher__forms__board-form {
                    font-size: 2em;
                    // margin-bottom: .8em; 
                }

                .teacher__forms__board-text {
                    font-size: 1em;
                    margin-bottom: 1.5em;
                }
    
                .teacher__forms__board-button-download {
                    background-color: transparent;
                    border: 2px solid rgb(255, 56, 56);
                    border-radius: 20px;
                    color: rgb(255, 56, 56);
                    padding: .5em;
                    padding-left: 2em;
                    padding-right: 2em;
                    margin-bottom: 1em;
                    transition: all .3s;
                }
    
                .teacher__forms__board-button-download:hover {
                    background-color: black;
                    color: white;
                    border: 2px solid white;
                }
            }

        }
    }
}



@media(min-width: 450px) {
        
    #teacher__forms__home {
        #teacher__forms__title {
            font-size: 3em;
        }
    }
}

@media(min-width: 768px) {
        
    #teacher__forms__home {
        #teacher__forms__title {
            font-size: 4em;
        }
    }
}

@media(min-width: 992px) {
        
    #teacher__forms__home {
        #teacher__forms__title {
            font-size: 4.5em;
        }
    }
}