



#teacher__activities__home {
    align-items: center;
    color: white!important;
    justify-content: center;
    margin: 0px auto;
    min-height: 100vh;
    width: 82%;
    z-index: 3;
    // overflow: hidden;

    #teacher__activities__title {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-transform: uppercase;
        top: 40%;

        #teacher__activities__title-p1 {
            font-size: .8em;
            margin-bottom: .3em;
            // margin-left: .2em;
        }

        #teacher__activities__title-p2 {
            font-size: .8em;
            margin-bottom: 3em;
        }
    }
}

#teacher__activities__activities {
    background-color: $gray;
    color: white;
    height: auto;
    padding-bottom: 3em;

    #teacher__activities__activities-title {
        // background-color: green;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        // position: relative;
        padding: 50px;
        text-align: center;
        text-transform: uppercase;
        top: 1.7em;

        #teacher__activities__activities-title-p1 {
            // background-color: red;
            font-size: .9em;
            margin-bottom: .4em;
        }
        
        #teacher__activities__activities-title-p2 {
            // background-color: red;
            font-size: .6em;
            margin-bottom: .4em;
        }
        
        #teacher__activities__activities-title-p3 {
            // background-color: red;
            font-size: .9em;
        }
    }

    #teacher__activities__activities-container {
        background-color: $dark-gray;
        margin: 0px auto;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        top: 10em;
        // position: relative;
        width: 80%;

        .teacher__activities__activities-ul {
            padding: 0;
        }

        .teacher__activities__activities-carousel {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 2em;
            // max-width: 80%;

            .teacher__activities__activities-img {
                // border: 1px solid white;
                width: 25%;
            }
        }

        .teacher__activities__activities-name-activity {
            list-style: none;
            margin: 2em;
        }
    }
}

@media(min-width: 340px) {
    #teacher__activities__home {
        #teacher__activities__title {
            #teacher__activities__title-p1,
            #teacher__activities__title-p2 {
                font-size: .9em;
            }
        }
    }
}

@media(min-width: 450px) {
    #teacher__activities__home {
        #teacher__activities__title {
            #teacher__activities__title-p1,
            #teacher__activities__title-p2 {
                font-size: 1.1em;
            }
        }
    }
}

@media(min-width: 768px) {
    #teacher__activities__home {
        #teacher__activities__title {
            #teacher__activities__title-p1,
            #teacher__activities__title-p2 {
                font-size: 1.5em;
            }
        }
    }

    #teacher__activities__activities {
        #teacher__activities__activities-title {
            font-size: 2.5em;
        }

        #teacher__activities__activities-container {
            .teacher__activities__activities-name-activity {
                font-size: 1.2em;
            }
        }
    }
}

@media(min-width: 992px) {
    #teacher__activities__home {
        #teacher__activities__title {
            #teacher__activities__title-p1,
            #teacher__activities__title-p2 {
                font-size: 1.7em;
            }
        }
    }

    #teacher__activities__activities {
        #teacher__activities__activities-title {
            font-size: 3em;
        }
    }
}

@media(min-width: 1200px) {
    #teacher__activities__home {
        #teacher__activities__title {
            #teacher__activities__title-p1 {
                font-size: 72px;
                margin-bottom: .2em;
            }

            #teacher__activities__title-p2 {
                font-size: 72px;
            }
        }
    }
}
