



#activities__home {
    align-items: center;
    color: white!important;
    justify-content: center;
    margin: 0px auto;
    min-height: 100vh;
    width: 82%;
    z-index: 3;
    // overflow: hidden;

    #activities__title {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-transform: uppercase;
        top: 40%;

        #activities__title-p1 {
            font-size: 1.7em;
            margin-bottom: .3em;
            // margin-left: .2em;
        }

        #activities__title-p2 {
            font-size: 1.7em;
            margin-bottom: 3em;
        }
    }
}

#activities__activities {
    background-color: $gray;
    color: white;
    height: auto;
    padding-bottom: 3em;

    #activities__activities-title {
        // background-color: green;
        font-size: 3em;
        display: flex;
        flex-direction: column;
        // position: relative;
        padding: 50px;
        text-align: center;
        text-transform: uppercase;
        top: 1.7em;

        #activities__activities-title-p1 {
            // background-color: red;
            font-size: .9em;
            margin-bottom: .4em;
        }
        
        #activities__activities-title-p2 {
            // background-color: red;
            font-size: .6em;
            margin-bottom: .4em;
        }
        
        #activities__activities-title-p3 {
            // background-color: red;
            font-size: .9em;
        }
    }

    #activities__activities-container {
        background-color: $dark-gray;
        margin: 0px auto;
        text-align: center;
        top: 10em;
        // position: relative;
        width: 100%;


        .activities__activities-carousel {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 2em;
            // max-width: 80%;

            .activities__activities-img {
                // border: 1px solid white;
                width: 25%;
            }
        }

        .activities__activities-name-activity {
            list-style: none;
            margin: 2em;
        }
    }
}