
.teacher__perfil__container {
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0px auto;
    margin-top: 10vh;
    padding: 1em;
    width: fit-content;
}

#teacher__perfil__form{
    background-color: rgba(5, 12, 71, 0.8);
    border-radius: 5px;
    color: white;
    margin: 0px auto;
    margin-top: 2em;
    padding: 2.8em;
    text-align: left;
    width: 100%;

    #teacher__perfil__title {
        margin-bottom: .5em;
    }

    #teacher__perfil__submit {
        // background-color: #37AF65;
        border: none;
        color: white;
        text-decoration: none;
        // padding: 1em;
        width: 100%;
    }

    #teacher__perfil__submit:hover {
        background-color: #108797;
        color: white;
        transition: all .3s;
    }
}