



.teacher__home__home {
    align-items: center;
    color: white!important;
    justify-content: center;
    margin: 0px auto;
    min-height: 100vh;
    width: 82%;
    z-index: 3;
    // overflow: hidden;

    .teacher__home__title {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-transform: uppercase;
        top: 40%;

        .teacher__home__title-p1 {
            margin-bottom: 1.4em;
            margin-left: .2em;
        }

        .teacher__home__title-p2 {
            font-size: 1.5em;
            margin-bottom: 3em;
        }
    }
    
    .teacher__home__subtitle {
        font-size: 1.3em;
        margin-left: .2em;
        position: absolute;
        top: 75%;
    }
}

.teacher__home__board, 
.teacher__home__menu {
    background-color: $gray;
    color: white;
    height: fit-content;
    min-height: 100vh;
    padding-bottom: 2em;

    .teacher__home__board-title,
    .teacher__home__menu-title {
        font-size: 2.5em;
        padding: 50px;
        text-align: center;
        text-transform: uppercase;
        top: 1.7em;
    }

    .teacher__home__board-week {
        background-color: $dark-gray;
        margin: 0px auto;
        text-align: center;
        top: 10em;
        // position: relative;
        width: 240px;

        .teacher__home__board-padding {
            padding: 3em;

            .teacher__home__board-day {
                text-transform: uppercase;
            }

            .teacher__home__board-task {
                margin-bottom: 20px;
            }

            .teacher__home__last-task {
                margin-bottom: 0px!important;
            }
        }
    }

    .teacher__home__menu-week {
        background-color: white;
        border-radius: 20px;
        margin: 0px auto;
        text-align: center;
        width: 70vw;

        .teacher__home__menu-table {

            .teacher__home__menu-th {
                width: 120px;
            }

            .teacher__home__menu-tr {
                height: 100px;
                vertical-align: middle;
            }
        }
    }

    .table>:not(caption)>*>* {
        border-bottom-width: 0px;
    }
}

.teacher__home__separator {
    background-color: transparent;
    height: 20em;
}


@media(min-width: 576px) {
    .teacher__home__board {
        .teacher__home__board-week {
            width: 300px;
        }
    }
}

@media(min-width: 992px) {
    .teacher__home__home {
        width: 76%;

        .teacher__home__subtitle {
            font-size: 1.5em;
        }
    }

    .teacher__home__board{
        .teacher__home__board-week{
            width: 350px;
        }
    }
}


@media(min-width: 1200px) {
    .teacher__home__home {
        .teacher__home__title {
            .teacher__home__title-p1 {
                font-size: 72px;
                margin-bottom: .2em;
            }
    
            .teacher__home__title-p2 {
                font-size: 112px;
            }
        }
    }
}