



#absences__home {
    align-items: center;
    color: white!important;
    justify-content: center;
    margin: 0px auto;
    min-height: 100vh;
    width: 82%;
    z-index: 3;
    // overflow: hidden;

    #absences__title {
        font-size: 2em;
        position: absolute;
        text-transform: uppercase;
        top: 45%;
    }
    
    #absences__subtitle {
        font-size: 1.3em;
        margin-left: .2em;
        position: absolute;
        text-transform: uppercase;
        top: 65%;
    }
}

#absences__board {
    background-color: $gray;
    color: white;
    min-height: 80vh;
    padding-bottom: 3em;
    height: fit-content;

    #absences__board-title {
        // background-color: green;
        font-size: 2em;
        // position: relative;
        padding: 50px;
        text-align: center;
        text-transform: uppercase;
        top: 1.7em;
    }

    #absences__board-container-table {
        background-color: white;
        border-radius: 20px;
        margin: 0px auto;
        text-align: center;
        width: 70vw;
        
        #absences__board-table {
            .absences__board-th {
                text-transform: uppercase!important;
                width: 120px;
            }
    
            .absences__board-tr {
                height: 100px;
                vertical-align: middle;
            }
    
            .absences__board-unjustified {
                color: rgb(255, 56, 56);
            }
        }
    
        .table>:not(caption)>*>* {
            border-bottom-width: 0px;
        }
    }
    
}

// Media Queries
@media(min-width: 450px) {
    #absences__home {
        #absences__title {
            font-size: 3em;
        }
        #absences__subtitle {
            font-size: 1.5em;
        }
    }

    #absences__board {
        #absences__board-title {
            font-size: 2.5em;
        }
    }
}

@media(min-width: 500px) {
    #absences__board {
        #absences__board-title {
            font-size: 2.5em;
        }

        #absences__board-table {
            width: 500px;
        }
    }
}

@media(min-width: 650px) {
    #absences__home {
        #absences__title {
            font-size: 3.5em;
        }
        #absences__subtitle {
            font-size: 2em;
        }
    }

    #absences__board {
        #absences__board-title {
            font-size: 3em;
        }
    }
}

@media(min-width: 768px) {
    #absences__home {
        #absences__title {
            font-size: 4em;
        }
    }
}

@media(min-width: 992px) {
    #absences__home {
        #absences__title {
            font-size: 4.5em;
        }
    }
}