.student__absences__home {
  align-items: center;
  color: white !important;
  justify-content: center;
  margin: 0px auto;
  min-height: 100vh;
  width: 82%;
  z-index: 3;

  .student__absences__title {
    font-size: 2em;
    position: absolute;
    text-transform: uppercase;
    top: 45%;
  }

  .student__absences__subtitle {
    font-size: 1.3em;
    margin-left: 0.2em;
    position: absolute;
    text-transform: uppercase;
    top: 65%;
  }
}

.student__absences__board {
  background-color: $gray;
  color: white;
  min-height: 80vh;
  padding-bottom: 3em;
  height: fit-content;

  .student__absences__board-title {
    font-size: 2em;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    top: 1.7em;
  }

  .student__absences__board-container-table {
    background-color: white;
    border-radius: 20px;
    margin: 0px auto;
    text-align: center;
    width: 70vw;

    .student__absences__board-table {
      .student__absences__board-th {
        text-transform: uppercase !important;
        width: 120px;
      }

      .student__absences__board-tr {
        height: 100px;
        vertical-align: middle;
      }

      .student__absences__board-unjustified {
        color: rgb(255, 56, 56);
      }
    }

    .table > :not(caption) > * > * {
      border-bottom-width: 0px;
    }
  }
}

// Media Queries
@media (min-width: 450px) {
  .student__absences__home {
    .student__absences__title {
      font-size: 3em;
    }
    .student__absences__subtitle {
      font-size: 1.5em;
    }
  }

  .student__absences__board {
    .student__absences__board-title {
      font-size: 2.5em;
    }
  }
}

@media (min-width: 500px) {
  .student__absences__board {
    .student__absences__board-title {
      font-size: 2.5em;
    }
  }
}

@media (min-width: 650px) {
  .student__absences__home {
    .student__absences__title {
      font-size: 3.5em;
    }
    .student__absences__subtitle {
      font-size: 2em;
    }
  }

  .student__absences__board {
    .student__absences__board-title {
      font-size: 3em;
    }
  }
}

@media (min-width: 768px) {
  .student__absences__home {
    .student__absences__title {
      font-size: 4em;
    }
  }
}

@media (min-width: 992px) {
  .student__absences__home {
    .student__absences__title {
      font-size: 4.5em;
    }
  }
}
