

#footer {
    height: 10em;
    position: relative;
    
    #footer-div {

        bottom: 0px;
        left: 50%;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -35%);
        position: absolute;

        #footer-logo {
            padding: 1em;
            width: 130px;
        }
        
        #footer-text {
            color: white;
            font-size: 1.2em;
            text-align: center;
            text-transform: uppercase;
        }
    }
}


// Media Queries
@media(min-width: 460px) {
    #footer {
        #footer-div {

            width: 100%;
            #footer-text {
                width: 100%;
            }
        }
    }
}

@media(min-width: 550px) {
    #footer {
        height: 12em;
        
        #footer-div {
            #footer-logo {
                width: 140px;
            }
        }
    }
}


@media(min-width: 992px) {
    #footer {
        height: 16em;
        
        #footer-div {
            #footer-logo {
                width: 150px;
            }
        }
    }
}