

#footer {
    height: fit-content;
    position: relative;
    
    #footer-div {
        height: fit-content;
        text-align: center;
        width: 100%;

        #footer-logo {
            margin-top: 2em;
            padding: 1em;
            width: 130px;
        }
        
        #footer-text {
            color: white;
            font-size: 1.2em;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
        }
    }
}


// Media Queries
@media(min-width: 550px) {
    #footer {
        #footer-div {
            #footer-logo {
                margin-top: 2.5em;
                width: 140px;
            }
        }
    }
}

@media(min-width: 768px) {
    #footer {
        #footer-div {
            #footer-logo {
                margin-top: 4em;
                width: 150px;
            }
        }
    }
}


@media(min-width: 992px) {
    #footer {
        #footer-div {
            #footer-logo {
                margin-top: 6em;
                width: 170px;
            }
        }
    }
}