



#previous__home {
    align-items: center;
    color: white!important;
    justify-content: center;
    margin: 0px auto;
    min-height: 100vh;
    width: 82%;
    z-index: 3;
    // overflow: hidden;

    #previous__title {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-transform: uppercase;
        top: 40%;

        #previous__title-p1 {
            font-size: 1em;
            // font-size: 1.7em;
            margin-bottom: .6em;
            // margin-left: .2em;
        }

        #previous__title-p2 {
            font-size: 1em;
            margin-bottom: 3em;
        }
    }
    
    #previous__subtitle {
        font-size: 1.2em;
        position: absolute;
        top: 75%;
        margin-left: .2em;
    }
}

#previous__board {
    background-color: $gray;
    color: white;
    height: auto;
    padding-bottom: 3em;

    #previous__board-title {
        // background-color: green;
        font-size: 2.5em;
        // position: relative;
        padding: 50px;
        text-align: center;
        text-transform: uppercase;
        top: 1.7em;
    }

    #previous__board-week {
        background-color: $dark-gray;
        margin: 0px auto;
        text-align: center;
        top: 10em;
        // position: relative;
        width: 80%;

        #previous__board-padding {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 2em;

            .previous__board-subject-container {
                // border: 1px solid white;
                padding: .5em;
                margin: 1em;

                .previous__board-subject {
                    font-size: 1.8em;
                    margin-bottom: .8em;
                    text-transform: uppercase;
                }
    
                .previous__board-button-download {
                    background-color: transparent;
                    border: 2px solid rgb(255, 56, 56);
                    border-radius: 20px;
                    color: rgb(255, 56, 56);
                    // padding: .5em;
                    // padding-left: 2em;
                    // padding-right: 2em;
                    padding: 7px;
                    margin-bottom: .5em;
                    transition: all .3s;
                }
    
                .previous__board-button-download:hover {
                    background-color: black;
                    color: white;
                    border: 2px solid white;
                }
            }
        }
    }
}

@media(min-width: 400px) {
    #previous__home {
        #previous__title {
            #previous__title-p1,
            #previous__title-p2 {
                font-size: 1.2em;
            }
        }
        #previous__subtitle {
            font-size: 1.4em;
        }
    }
}

@media(min-width: 768px) {
    #previous__home {
        #previous__title {
            #previous__title-p1,
            #previous__title-p2 {
                font-size: 1.5em;
            }
        }
        #previous__subtitle {
            font-size: 1.5em;
        }
    }
}