
.logo {
    margin: .5em;
    margin-left: 6em;
    width: 25%;
}

.navbar-brand {
    cursor: default;
}

.nav-link-active {
    border-bottom: 2px solid white;
}

.last-link {
    margin-right: 6em!important;
}

.background-rgba {
    background-color: rgb(43, 43, 43) !important;
    transition: all .4s ease; 
    -webkit-transition: all .4s ease;
}

