$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.login__body {
    background: url('../../../assets/portada-login.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.login__body::before {
    background-color: rgba(0, 0, 0, 0.425);
    content: "";
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1000;
}

.login__container {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    .login__logo {
        margin: 0px auto;
        margin-top: 1.8em;
        width: 8%;
    }
    
    .login__title {
        font-size: 2.8rem;
        margin-top: 2.9em;
        text-transform: uppercase;
    }
    
    .login__subtitle {
        font-size: 1rem;
        margin-top: 1em;
        text-transform: uppercase;
    }

    .login__button {
        background-color: #4B677C;
        border-radius: 3em;
        color: white;
        margin: 0px auto;
        margin-top: 3.2em;
        padding: 1em;
        text-decoration: none;
        width: 12%;
    }

    .login__button:hover {
        background-color: #436c8a;
        transition: all .3s;
    }

    .login__paragraph {
        font-size: .7em;
        margin-top: 1em;
    }

    .login__icons-container {
        flex-direction: column;
        margin-top: 7em;

        .login__icon {
            color: white;
            margin-top: 5em;
            margin: 1.5em;
        }

        .login__icon:hover {
            color: rgb(228, 228, 228);
        }
    }
}